.logo-text{
    text-align: center;
    height:60px;
    font-size:40px;
    padding-top: 20px;

}

.main-div{
    background:lightblue ;

}

div{
    border-radius: 10px;
    background:royalblue;
    font-family: fantasy,cursive;
    color:black;
    margin: 1%;
    padding-left: 20px;

}

.search-div{
    height: 35px;
    padding: 20px;
}

input[type=text],
input[type=submit],
select[name=search_option]
{

    height: 30px;
}

input[type=text]{
    border-radius: 5px;
    width:70%;
}

input[type=submit],
select[name=search_option]
{
    width : 10%;


}



.author-list{
    font-size: 150%;
    width:20%;
    min-height: 300px;
    float: left;

}

.book-list{

    width: 72%;
    min-height: 300px;
    float: right;
}
body{

    background:lightblue;
}





