.logo-text{
    text-align: center;
    height:60px;
    font-size:40px;
    padding-top: 20px;

}

.main-div{
    background:lightblue ;

}

div{
    border-radius: 10px;
    background:royalblue;
    font-family: fantasy,cursive;
    color:black;
    margin: 1%;
    padding-left: 1%;

}

.search-div{
    height: 35px;
    padding: 20px;
}

input[type=text],
input[type=submit],
select[name=search_option]
{

    height: 30px;
}

input[type=text]{
    border-radius: 5px;
    width:70%;
}

input[type=submit],
select[name=search_option]
{
    width : 10%;


}



.author-list{

    font-size: 150%;
    width:20%;
    float: left;

}



.book-list{

    width: 73%;
    min-height: 750px;
    float: left;
    font-family: "arial";

}

.book{
    font-family: "arial";
    width: 45%;
    background: grey;
    float:left;
}
.book-name{
    height: 10%;
    text-align: center;
    vertical-align: middle;
    font-size: 90%;
    font-family: arial;
    font-weight: bold;
    background: inherit;


}

.book-cover{
    height: 50%;
    text-align: center;
    background: inherit;
}
.img1{
    height: 100%;
}

.link-read{
    text-decoration: none;
    color: blue;
    border-bottom: 1px dashed blue;
}
.link-read:hover{
    border-bottom:none ;
}

.book-not-found{
    color:darkred;
}

body{

    background:lightblue;
}

.alphabet{
    height: 8%;
    text-transform: uppercase;
    font-size: 2.2em;
    text-align: center;

    }
.alphabet-link{
    font-family: arial;
    margin: 0.3%;
}





